.cache
venv/
.idea/
token
lib/
lib64
.dir-locals.el
pyvenv.cfg
bin/
main.py.bak
__pycache__/
/test_df.csv
/results/calced/
/data/personal_data/prepared/
/data/personal_data/raw_json/
/data/dl_sample_data/
/.project
/.dbeaver/
/magma sample data.txt
/data/personal_data/albums manual mapping.xlsx
